@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
	--color-white: #fff;
	--color-black: #000;
	--color-yellow: #fcd508;
	--color-gray: #cccccc;
	--color-orange: #ee6628;
	--color-gray-semidark: #a0a0a0;
	--color-gray-darker: #313131;
    --color-orange-shadow: #356289;
    --color-transparent: transparent;

	/* Background colors */
	--btn-bg: var(--color-orange);
    --header-bg: var(--color-white);
    --transparent-bg: var(--color-transparent);

    /* borders colors */
	--btn-br: var(--color-orange);

    /* Foreground colors */
	--header-txt: var(--color-black);
	--btn-txt: var(--color-white);

	/* shadow colors */
	--orange-box-shadow: var(--color-orange-shadow);

    /* Hover colors */
    --nav-hover: var(--color-orange-shadow);
    --btn-hover: var(--color-white)
}

header{
    display: flex;
    padding: 1rem 3rem 1rem 6.5rem;
    justify-content: space-between;
    z-index: 1;
    background-color: var(--header-bg);
}

.hero{
    padding: 2rem;
    height: 40rem;
    display: flex;
    background:linear-gradient(to bottom, rgba(0, 8, 8, 0.877), rgba(8, 5, 7, 0.685)), url("./src/assets/images/pexels-buro-millennial-1438081.jpg") no-repeat bottom;
    background-size:cover;
    background-position: center 20%;
    min-height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 0 0;
    position: relative;
    animation: fade-in 2s ease-in-out forwards;
}

.sticky-header{

    position: fixed;
    width: 100%;
    z-index: 5;
    --header-bg: var(--color-orange);
	--header-txt: var(--color-white);
	--btn-bg: var(--color-white);
	--btn-br: var(--color-white);
	--btn-txt: var(--color-black);
    --transparent-bg: var(--color-white);
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.hero h1{
    width: 50%;
    text-align: center;
    color: var(--color-orange);
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Fira Code', monospace !important;
    z-index: 1;
    animation: fade-slide-up 2s ease-in-out forwards;
    opacity: 0;
}

.hero h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
    color: var(--color-white);
    z-index: 1;
    opacity: 0;
    animation: fade-slide-up 2s ease-in-out 1s forwards;
}

.hero button{
    margin: 1rem 0;
    opacity: 0;
    animation: fade-slide-up 2s ease-in-out 1.5s forwards;
}

@keyframes fade-slide-up {
    0%{
        opacity: 0;
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

.logo{
    width: 80px;
    height: 80px;
    background-color: var(--transparent-bg);
}

.logo img{
    width: 100%;
    height: 100%;
}

nav{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: small;
    color: var(--header-txt);
    text-decoration: none;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: var(--nav-hover);
    font-weight: 600;
}

.active{
    color: var(--color-orange);
    font-weight: 700;
}

nav button,
.hero button{
    padding: 0.6rem 1.2rem;
    border: 1px solid var(--btn-br);
    text-transform: capitalize;
    border-radius: 5px;
    background-color: var(--btn-bg);
    color: var(--btn-txt);
    cursor: pointer;
    box-shadow: 0 1px 2px 1px rgb(116, 114, 114);

}

nav button:hover,
.hero button:hover{
    background-color: var(--btn-hover);
    color: var(--color-orange);
}

.logo img{
    width: 100%;
    height: 100%;
}

.ceo-msg{
    padding: 5rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.ceo-img img{
    width: 30rem;
}

.msg-info{
    padding: 2rem 4rem;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.title{
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}

.text{
    font-size: 1rem;
    text-align: center;
    margin: 1.5rem auto;
    line-height: 1.7rem;
    /* width: 50%; */
    padding: 0 8rem;
}

.msg-info p , .msg-info h5{
    padding: 0 4rem;
    margin: 1rem auto;
    line-height: 1.7rem;
}

 p{
    color: #898989;
}

.msg-info h5{
    font-weight: 700;
    font-family: 'Fira Code', monospace !important;
    font-size: larger;
    padding-top: 2rem;
}

.msg-info h3 {
    padding: 0 2.7rem;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Fira Code', monospace !important;
}

.info{
    padding: 1rem 1rem;
}

.msg-info h4{
    padding: 0 3.9rem;
    font-weight: 400;
}

.about-section{
    padding: 7rem 4rem;
    z-index: 1;
    background-color: var(--color-white);
}

.about-section-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-section div:nth-child(2){
    margin-top: 3rem;
}

.about-info{
    width: 20rem;
    height: 23rem;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 5px 5px 3px rgb(230, 228, 228);
}

.progress-section{
    padding: 7rem 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.progress-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-div h3{
    font-size: 3rem;
    color: var(--color-orange);
}

.progress-div h4{
    font-weight: 400;
    text-transform: capitalize;
}

.about-info p{
    font-size: small;
    text-align: center;
    /* margin-bottom: 1rem; */
    color: #898989;
}

.icon-div{
    width: 5rem;
    height: 5rem;
    background-color: var(--color-orange);
    border-radius: 50%;
    display: flex;
    margin-bottom: 1rem;
}

.icon-div i{
    margin: auto;
    font-size: 2.5rem;
    color: var(--color-white);
}

.about-info:hover .icon-div{
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
}

.about-info:hover .icon-div i{
    color: var(--color-orange);
}

.about-info h5{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 15px;
}

.about-info a{
    font-weight: 200;
    font-size: small;
    color: var(--color-black);
    text-decoration: none;
    padding: 0.3rem;
}

.about-info a:hover{
    border-bottom: 1px solid var(--color-orange);
    font-weight: 400;
}

.partners-section{
    padding: 4rem;
    z-index: 1;
}

.partner-logo{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding: 4rem 0 4rem 0;
    width: 100%;
}

.partner-logo .right{
    right: 0;
}

.partner-logo .left{
    left: 0;
}

.partners-div{
    box-shadow: 0px 0px 2px 3px var(--orange-box-shadow);
    width: 8rem;
    height: 7rem;
}

.partners-div img{
    width: 100%;
    height: 100%;
}

.periods{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angle{
    position: absolute;
    padding: 1rem;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    font-size: larger;
    color: #898989;
    z-index: 1;
}

.angle:hover{
    color: var(--color-orange);
}

.left{
    left: 3rem;
}

.right{
    right: 3rem;
}

footer{
    padding: 0 2rem 0 2rem;
    background-color: var(--color-orange);
}

.social-links{
    padding: 2rem;
    display: flex;
    background-color: var(--color-white);
}
.social-links h3{
    margin-right: auto;
    font-weight: 400;
}

.social-icons{
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    cursor: pointer;
    border-radius: 5px;
}

.facebook{
    background-color: #3B5998;
}
.twitter{
    background-color: #00ACED;
}
.linkin{
    background-color: #007BB6;
}
.instagram{
    background-color: #EA2C59;
}
.youtube{
    background-color: #A82400;
}

.footer-info{
    padding: 3rem;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.footer-logo h4{
    margin: 0.5rem 0;
    color: var(--color-white);
    font-weight: 400;
}

.footer-logo img{
    width: 5rem;
    height: 5rem;
}

.footer-nav ul li a{
    color: var(--color-white);
}

.copy-right{
    padding: 1rem;
    background-color: var(--color-white);
    text-align: center;
}

.copy-right h6{
    font-weight: 300;
}

.bg-overlay{
    position: fixed;
    padding: 4rem;
    background-color: #007BB6;
    z-index: 0;
    width: 100%;
    bottom: 0;
}